body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-image: url('https://webassets.mongodb.com/_com_assets/cms/PixelheroHackathontest-iv8i0nrxfb.png');
  background-size:cover;
  font-family: 'Hubballi', cursive;
  color: white;
  font-weight: bold;
  letter-spacing: 0.25em;
}


.home-content{
  width:90%;
  margin: 0 auto;
  margin-top:2em;
}
.about-content{
  width:90%;
  margin: 0 auto;
  margin-top:6em;
}
.feed-content{
  width:90%;
  margin: 0 auto;
  margin-top:6em;
}